html {
  height: 100%;
}

body {
  height: 100%;
}

.container {
  height: 100%;
}

.showHide {
  display: none;
}

.clickable{
  font-size: 50px;
  cursor:help;
  color: #0088cc;
  /*cursor: sw-resize;*/
}
.clickable:hover{
  text-decoration: underline;
}

#x {
  background-color: yellow;
}
